*.o
*.a
.deps/
Makefile
Makefile.in
aclocal.m4
ar-lib
args.o
array.o
autom4te.cache/
compile
config-aux/
config.log
config.status
configure
defset.o
depcomp
filter.o
html-escape/.deps/
html-escape/Makefile
html-escape/Makefile.in
html-escape/html-escape
html-escape/htmlescape.o
html-escape/main.o
install-sh
libtpl.a
main.o
merge.o
missing
parser.o
print.o
tags
test-driver
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/tags
tpl
tpl.o
tpl_doc.o
